body{
  background:#f2f2f2;
  font-family:Arial;
}

.login-box{
  width:300px;
  margin:120px auto;
  padding:20px;
  background:white;
  text-align:center;
  border-radius:8px;
}

input{
  width:90%;
  padding:10px;
  margin:8px 0;
}

button{
  width:95%;
  padding:10px;
  background:#6c63ff;
  color:white;
  border:none;
  cursor:pointer;
}
